EmployeesAndPrinters/.vs/*
EmployeesAndPrinters/EmployeesAndPrinters/bin/*
EmployeesAndPrinters/EmployeesAndPrinters/obj/*

PrintCommand/.vs/*
PrintCommand/PrintCommand/bin/*
PrintCommand/PrintCommand/obj/*